* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --bgcol: aliceblue;
}

body {
    background-color: var(--bgcol);
}

header {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    height: 10vh;
    background-color: aquamarine;
}

.App {
    position: relative;
}

.pokeholder {
    display: flex;
    width: 100%;
    height: 85vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    border-radius: 0% 0% 5% 5%;
}

.pokemon {
    display: flex;
    width: 20%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.pokeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcol);
    border-radius: 50%;
}

.pokeimg > img {
    position: relative;
    width: 90%;
    top: 20%;
}

.pokeinfo {
    text-align: center;
    margin-top: 20%;
}

.pokeinfo > h2 {
    color: white;
    font-size: 2.25em;
    text-transform: capitalize;
}

.poketypes > button {
    color: white;
    border: 0;
    border-radius: 15%;
    background-color: black;
    padding: 0.2em 0.5em;
    text-transform: uppercase;
}

#poke2 {
    width: 25%;
    height: 60%;
}

#poke2 img {
    width: 100%;
}

.counter {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcol);
    font-size: 1.5em;
}

.counter > span {
    margin: 0 10px;
}

.buttons {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    justify-content: space-between;
}

.button {
    width: 20%;
    height: 100%;
    transition: 0.4s;
    opacity: 0;
}

.button:hover {
    opacity: 1;
}

#left_button {
    background: linear-gradient(90deg, rgba(208,231,247,1) 0%, rgba(255,255,255,1) 0%, rgba(155,189,196,0) 100%);
}

#right_button {
    background: linear-gradient(90deg, rgba(208,231,247,0) 0%, rgba(255,255,255,1) 100%, rgba(155,189,196,0) 100%);
}

/* Pokemon Types */

.grass {
    background-color: green!important;
}

.water {
    background-color: aqua!important;
}